<div class="modal-header">
    <button type="button" class="close" ng-click="options.cancel();"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
    <h3 class="modal-title" id="modal-title">{{ options.header }}</h3>
</div>
<div class="modal-body">
    {{ options.body }}
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-primary" ng-click="options.ok();">{{ options.action }}</button>
    <button type="button" class="btn btn-white" ng-click="options.cancel();">{{ options.close }}</button>
</div>