<div class="col-lg-6" ng-repeat="feed in feeds">
                        
    <div class="social-feed-box">

        <div class="pull-right social-action dropdown">
            <button data-toggle="dropdown" class="dropdown-toggle btn-white">
                <i class="fa fa-angle-down"></i>
            </button>
            <ul class="dropdown-menu m-t-xs">
                <li><a href="#">Config</a></li>
            </ul>
        </div>
        <div class="social-avatar">
            <a href="#" class="pull-left">
                <img alt="image" src="img/a6.jpg">
            </a>
            <div class="media-body">
                <a href="#">
                    {{ feed.user.displayName }}
                </a>
                <small class="text-muted">{{ feed.created }}</small>
            </div>
        </div>
        <div class="social-body">
            {{ feed.content }}
            <img src="img/gallery/11.jpg" class="img-responsive">
            <div class="btn-group">
                <button class="btn btn-xs" ng-class="feed.isLiked ? 'btn-primary' : 'btn-white'" ng-click="hitLike(feed)">
                    <i class="fa fa-thumbs-up"></i> {{ feed.likes.length }} Like
                </button>
                <button class="btn btn-white btn-xs" ng-click="hitComment(feed)"><i class="fa fa-comments"></i> Comment</button>
            </div>
        </div>
        <div class="social-footer">
            <div class="social-comment" ng-repeat="comment in feed.comments">
                <a href="#" class="pull-left">
                    <img alt="image" src="img/a1.jpg">
                </a>
                <div class="media-body">
                    <a href="#">
                        {{ comment.user.displayName }}
                    </a>
                    {{ comment.content }}
                    <br/>
                    <small class="text-muted">{{ comment.created }}</small>
                </div>
            </div>

            <div class="social-comment">
                <a href="#" class="pull-left">
                    <img alt="image" src="img/a3.jpg">
                </a>
                <div class="media-body">
                    <textarea class="form-control" placeholder="Write comment..." 
                        ng-model="$parent.commentText" is-focused="$parent.isCommentFocused" 
                        ng-enter="addComment(feed)"></textarea>
                </div>
            </div>

        </div>

    </div>

</div>