<div class="row">

    <div class="col-lg-5">

        <div class="ibox">
            <div class="ibox-title">
                <h5>Profile Detail</h5>
            </div>
            <div>
                
                <div class="ibox-content">
                    <div class="col-sm-4">
                        <img alt="image" class="img-circle m-t-xs img-responsive" src="img/profile/default.jpg">
                    </div>
                    <div class="col-sm-8">
                        <h3><strong>Binh-Phi Nguyen</strong></h3>
                        <strong>Full Stack Developer</strong>
                        
                        <p><i class="fa fa-map-marker"></i> Aachen, Germany</p>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="ibox-content profile-content">
                    
                    <h5>
                        About me
                    </h5>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitat.
                    </p>
                    <div class="row m-t-lg">
                        <div class="col-md-4">
                            <h5><strong>169</strong> Posts</h5>
                        </div>
                        <div class="col-md-4">
                            <h5><strong>28</strong> Following</h5>
                        </div>
                        <div class="col-md-4">
                            <h5><strong>240</strong> Followers</h5>
                        </div>
                    </div>
                    <div class="user-button">
                        <div class="row">
                            <div class="col-md-12">
                                <button type="button" class="btn btn-primary btn-sm btn-block"><i class="fa fa-envelope"></i> Send Message</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="col-lg-7">
        <div class="ibox">
            <div class="ibox-title">
                <h5>Status</h5>
            </div>
            <div>
                <div class="ibox-content">
                    <div class="post-avatar">
                        <a href="#" class="pull-left">
                            <img alt="image" src="img/profile/default.jpg">
                        </a>
                        <div class="media-body">
                            <div class="">
                            <textarea class="form-control" placeholder="What's on your mind?"></textarea>
                            </div>
                            <div class="m-t-sm pull-right">
                                <button class="btn btn-sm btn-primary">Post</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="social-feed-box">

            <div class="pull-right social-action dropdown">
                <button data-toggle="dropdown" class="dropdown-toggle btn-white">
                    <i class="fa fa-angle-down"></i>
                </button>
                <ul class="dropdown-menu m-t-xs">
                    <li><a href="#">Config</a></li>
                </ul>
            </div>
            <div class="social-avatar">
                <a href="#" class="pull-left">
                    <img alt="image" src="img/a1.jpg">
                </a>
                <div class="media-body">
                    <a href="#">
                        Andrew Williams
                    </a>
                    <small class="text-muted">Today 4:21 pm - 12.06.2014</small>
                </div>
            </div>
            <div class="social-body">
                <p>
                    Many desktop publishing packages and web page editors now use Lorem Ipsum as their
                    default model text, and a search for 'lorem ipsum' will uncover many web sites still
                    in their infancy. Packages and web page editors now use Lorem Ipsum as their
                    default model text.
                </p>

                <div class="btn-group">
                    <button class="btn btn-white btn-xs"><i class="fa fa-thumbs-up"></i> Like this!</button>
                    <button class="btn btn-white btn-xs"><i class="fa fa-comments"></i> Comment</button>
                    <button class="btn btn-white btn-xs"><i class="fa fa-share"></i> Share</button>
                </div>
            </div>
            <div class="social-footer">
                <div class="social-comment">
                    <a href="#" class="pull-left">
                        <img alt="image" src="img/a1.jpg">
                    </a>
                    <div class="media-body">
                        <a href="#">
                            Andrew Williams
                        </a>
                        Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words.
                        <br/>
                        <a href="#" class="small"><i class="fa fa-thumbs-up"></i> 26 Like this!</a> -
                        <small class="text-muted">12.06.2014</small>
                    </div>
                </div>

                <div class="social-comment">
                    <a href="#" class="pull-left">
                        <img alt="image" src="img/a2.jpg">
                    </a>
                    <div class="media-body">
                        <a href="#">
                            Andrew Williams
                        </a>
                        Making this the first true generator on the Internet. It uses a dictionary of.
                        <br/>
                        <a href="#" class="small"><i class="fa fa-thumbs-up"></i> 11 Like this!</a> -
                        <small class="text-muted">10.07.2014</small>
                    </div>
                </div>

                <div class="social-comment">
                    <a href="#" class="pull-left">
                        <img alt="image" src="img/a3.jpg">
                    </a>
                    <div class="media-body">
                        <textarea class="form-control" placeholder="Write comment..."></textarea>
                    </div>
                </div>

            </div>

        </div>

        <div class="social-feed-box">

            <div class="pull-right social-action dropdown">
                <button data-toggle="dropdown" class="dropdown-toggle btn-white">
                    <i class="fa fa-angle-down"></i>
                </button>
                <ul class="dropdown-menu m-t-xs">
                    <li><a href="#">Config</a></li>
                </ul>
            </div>
            <div class="social-avatar">
                <a href="#" class="pull-left">
                    <img alt="image" src="img/a6.jpg">
                </a>
                <div class="media-body">
                    <a href="#">
                        Andrew Williams
                    </a>
                    <small class="text-muted">Today 4:21 pm - 12.06.2014</small>
                </div>
            </div>
            <div class="social-body">
                <p>
                    Many desktop publishing packages and web page editors now use Lorem Ipsum as their
                    default model text, and a search for 'lorem ipsum' will uncover many web sites still
                    in their infancy. Packages and web page editors now use Lorem Ipsum as their
                    default model text.
                </p>
                <p>
                    Lorem Ipsum as their
                    default model text, and a search for 'lorem ipsum' will uncover many web sites still
                    in their infancy. Packages and web page editors now use Lorem Ipsum as their
                    default model text.
                </p>
                <img src="img/gallery/3.jpg" class="img-responsive">
                <div class="btn-group">
                    <button class="btn btn-white btn-xs"><i class="fa fa-thumbs-up"></i> Like this!</button>
                    <button class="btn btn-white btn-xs"><i class="fa fa-comments"></i> Comment</button>
                    <button class="btn btn-white btn-xs"><i class="fa fa-share"></i> Share</button>
                </div>
            </div>
            <div class="social-footer">
                <div class="social-comment">
                    <a href="#" class="pull-left">
                        <img alt="image" src="img/a1.jpg">
                    </a>
                    <div class="media-body">
                        <a href="#">
                            Andrew Williams
                        </a>
                        Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words.
                        <br/>
                        <a href="#" class="small"><i class="fa fa-thumbs-up"></i> 26 Like this!</a> -
                        <small class="text-muted">12.06.2014</small>
                    </div>
                </div>

                <div class="social-comment">
                    <a href="#" class="pull-left">
                        <img alt="image" src="img/a2.jpg">
                    </a>
                    <div class="media-body">
                        <a href="#">
                            Andrew Williams
                        </a>
                        Making this the first true generator on the Internet. It uses a dictionary of.
                        <br/>
                        <a href="#" class="small"><i class="fa fa-thumbs-up"></i> 11 Like this!</a> -
                        <small class="text-muted">10.07.2014</small>
                    </div>
                </div>

                <div class="social-comment">
                    <a href="#" class="pull-left">
                        <img alt="image" src="img/a8.jpg">
                    </a>
                    <div class="media-body">
                        <a href="#">
                            Andrew Williams
                        </a>
                        Making this the first true generator on the Internet. It uses a dictionary of.
                        <br/>
                        <a href="#" class="small"><i class="fa fa-thumbs-up"></i> 11 Like this!</a> -
                        <small class="text-muted">10.07.2014</small>
                    </div>
                </div>

                <div class="social-comment">
                    <a href="#" class="pull-left">
                        <img alt="image" src="img/a3.jpg">
                    </a>
                    <div class="media-body">
                        <textarea class="form-control" placeholder="Write comment..."></textarea>
                    </div>
                </div>

            </div>

        </div>




    </div>
    
</div>