<div class="row">

    <div class="col-lg-5">

        <div class="ibox">
            <div class="ibox-title">
                <h5>Profile Detail</h5>
            </div>
            <div>
                
                <div class="ibox-content">
                    <div class="col-sm-4">
                        <img alt="image" class="img-circle m-t-xs img-responsive" src="img/profile/default.jpg">
                    </div>
                    <div class="col-sm-8">
                        <h3><strong>{{ profileUser.displayName }}</strong></h3>
                        <strong>{{ profileUser.title }}</strong>
                        
                        <p><i class="fa fa-map-marker"></i> Aachen, Germany</p>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="ibox-content profile-content">
                    
                    <h5>
                        About me
                    </h5>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitat.
                    </p>
                    <div class="row m-t-lg">
                        <div class="col-md-4">
                            <h5><strong>169</strong> Posts</h5>
                        </div>
                        <div class="col-md-4">
                            <h5><strong>28</strong> Following</h5>
                        </div>
                        <div class="col-md-4">
                            <h5><strong>240</strong> Followers</h5>
                        </div>
                    </div>
                    <div class="user-button">
                        <div class="row">
                            <div class="col-md-12">
                                <button type="button" class="btn btn-primary btn-sm btn-block"><i class="fa fa-envelope"></i> Send Message</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="col-lg-7">
        <div class="ibox">
            <div class="ibox-title">
                <h5>Status</h5>
            </div>
            <div>
                <div class="ibox-content">
                    <div class="post-avatar">
                        <a href="#" class="pull-left">
                            <img alt="image" src="img/profile/default.jpg">
                        </a>
                        <div class="media-body">
                            <textarea class="form-control" placeholder="What's on your mind?" 
                                ng-model="postContent"></textarea>
                            <div class="m-t-sm pull-right">
                                <button class="btn btn-sm btn-primary" ng-click="addPost()">Post</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="social-feed-box" ng-repeat="post in posts">
            <div class="pull-right social-action dropdown">
                <button data-toggle="dropdown" class="dropdown-toggle btn-white">
                    <i class="fa fa-angle-down"></i>
                </button>
                <ul class="dropdown-menu m-t-xs">
                    <li><a href="#" ng-click="deletePost(post)">Delete</a></li>
                </ul>
            </div>
            <div class="social-avatar">
                <a href="#" class="pull-left">
                    <img alt="image" src="img/profile/default.jpg">
                </a>
                <div class="media-body">
                    <a href="#">
                        {{ post.user.displayName }}
                    </a>
                    <small class="text-muted">{{ post.created }}</small>
                </div>
            </div>
            <div class="social-body">
                {{ post.content }}
                <img src="img/gallery/11.jpg" class="img-responsive">
                <div class="btn-group">
                    <button class="btn btn-xs" ng-class="post.isLiked ? 'btn-primary' : 'btn-white'" ng-click="hitLike(post)">
                        <i class="fa fa-thumbs-up"></i> {{ post.likes.length }} Like
                    </button>
                    <button class="btn btn-white btn-xs" ng-click="hitComment()"><i class="fa fa-comments"></i> Comment</button>
                </div>
            </div>
            <div class="social-footer">
                <div class="social-comment box-hover" ng-repeat="comment in post.comments">
                    <a href="#" class="pull-left">
                        <img alt="image" src="img/profile/default.jpg">
                    </a>
                    <div class="pull-right btn-hover">
                        <a href="#" ng-click="deleteComment(post, comment)"><i class="fa fa-times"></i></a>
                    </div>
                    <div class="media-body">
                        <a href="#">
                            {{ comment.user.displayName }}
                        </a>
                        {{ comment.content }}
                        <br/>
                        <small class="text-muted">{{ comment.created }}</small>
                    </div>
                </div>

                <div class="social-comment">
                    <a href="#" class="pull-left">
                        <img alt="image" src="img/profile/default.jpg">
                    </a>
                    <div class="media-body">
                        <textarea class="form-control" placeholder="Write comment..." 
                            ng-model="commentContent" is-focused="isCommentFocused" 
                            ng-enter="addComment(post)"></textarea>
                    </div>
                </div>
            </div>
        </div>

    </div>
    
</div>